<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inoriの时间轴</title>
    <link href="image/gc.jpg" rel="shortcut icon" type="image/x-ico">
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css">
    <link rel="stylesheet" href="./lib/bootstrap/bootstrap-icons.css">
    <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/blog.css">
    <link rel="stylesheet" href="./css/timeline.css">
    <link rel="stylesheet" href="./lib/l2dwidget/L2Dwidget.css">
    <script type="text/javascript" src="./lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticaly.com/gh/YuzurihaLnori/inori-blog-portal/master/lib/vue/vue.js"></script>
    <script type="text/javascript" src="./lib/axios/axios.min.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
</head>
<body>

<section id="main-container">
    <!-- 导航 -->
    <nav id="nav" class="gird-header">
        <inori-header></inori-header>
    </nav>

    <!-- 顶部图片 -->
    <div class="common-center">
        <div class="common-attachment-img lazyload" style="background-image: url(image/stripe-loader.svg);"
             data-src="./image/rain.jpg"></div>
        <header class="common-header">
            <h1 class="archives-title fa">时光轴</h1>
            <span class="archives-des"><p>Archives</p></span>
        </header>
    </div>

    <!-- 时间轴内容 -->
    <div id="page" class="m-padded-tb-archives">
        <div class="timeline">
            <ul>
                <li v-for="item of items" :key="item">
                    <div>
                        <time>{{item.createTime}}</time>
                        <div>
                            <a @click="blog(item.id)">
                                <h3 class="m-title-text-archives">{{item.title}}</h3>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 底部footer -->
    <footer id="footer" class="site-footer m-opacity" role="contentinfo">
        <inori-footer></inori-footer>
    </footer>

    <!-- 消息提示 -->
    <div class="butterBar butterBar-center">
        <p class="butterBar-error">{{message}}</p>
    </div>

</section>

<div id="mobile-nav">
    <div class="mobile-avatar">
        <img src="image/gc.jpg" alt="">
    </div>
    <p class="mobile-p">Yuzuriha Inori</p>
    <div class="mobile-search">
        <input class="mobile-search-input" v-model="keywords" type="search" placeholder="Search..."
               @keydown="search($event)">
    </div>
    <ul>
        <li>
            <a href="http://ai-inori.top" class="m-margin-left-small">
                <i class="bi-house-fill"></i><span class="fa">首页</span>
            </a>
        </li>
        <li>
            <a class="m-margin-left-small fa-type" @click="searchTypes">
                <i class="bi-front"></i><span class="fa">分类</span>
            </a>
            <ul class="sub-menu">
                <li v-for="item of types" :key="item">
                    <a class="m-margin-left-small" @click="searchType(item)">
                        <span class="fa-code">{{item.name}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="archives.html" class="m-margin-left-small">
                <i class="bi-archive-fill"></i><span class="fa">归档</span>
            </a>
        </li>
        <li>
            <a href="message.html" class="m-margin-left-small">
                <i class="bi-pencil-square"></i><span class="fa">留言板</span>
            </a>
        </li>
        <!--<li>
            <a href="#" class="m-margin-left-small">
                <i class="icon-link"></i><span class="fa">友人帐</span>
            </a>
        </li>-->
        <li>
            <a href="picture.html" class="m-margin-left-small">
                <i class="bi-images"></i><span class="fa">照片墙</span>
            </a>
        </li>
        <li>
            <a href="about.html" class="m-margin-left-small">
                <i class="icon-leaf"></i><span class="fa">关于我</span>
            </a>
        </li>
    </ul>
</div>

<!-- 置顶图标 -->
<div id="back-to-top" class="back-to-top cd-top faa-float cd-is-visible" style="display: none"></div>
<button id="mobile-top" style="display: none"><i class="el-icon-arrow-up"></i></button>

<!-- 看板娘 -->
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="250" height="450" class="live2d"></canvas>
</div>

<script type="text/javascript" src="./lib/l2dwidget/L2Dwidget.js"></script>
<script type="text/javascript" src="./lib/l2dwidget/live2d.js"></script>
<script type="text/javascript" src="./lib/l2dwidget/waifu-tips.js"></script>
<script type="text/javascript" src="./lib/element-plus/index.full.js"></script>
<script type="text/javascript" src="./lib/waypoint/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="./lib/lazyload/lazyload.min.js"></script>
<script type="text/javascript" src="./js/header.js"></script>
<script type="text/javascript" src="./js/footer.js"></script>
<script type="text/javascript" src="./js/mobile-nav.js"></script>
<script type="text/javascript" src="./js/archives.js"></script>
<script type="text/javascript" src="./js/item.js"></script>

<script type="text/javascript">

    //看板娘
    loadlive2d("live2d", "lib/l2dwidget/model/mashiro/seifuku.model.json");

    function show_runtime() {
        window.setTimeout("show_runtime()", 1000);
        const X = new Date("01/01/2022 00:00:00");
        const Y = new Date();
        const T = (Y.getTime() - X.getTime());
        const M = 24 * 60 * 60 * 1000;
        const a = T / M;
        const A = Math.floor(a);
        const b = (a - A) * 24;
        const B = Math.floor(b);
        const c = (b - B) * 60;
        const C = Math.floor((b - B) * 60);
        const D = Math.floor((c - C) * 60);
        document.getElementById('runtime_span').innerHTML = A + "天" + B + "小时" + C + "分" + D + "秒"
    }

    show_runtime();

</script>

</body>
</html>
