<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inoriの博客管理页</title>
    <link href="../image/gc.jpg" rel="shortcut icon" type="image/x-ico">
    <link rel="stylesheet" href=".//unpkg.com/element-plus/dist/index.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/system.css">
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap-icons.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src=".//unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <script type="text/javascript" src="../lib/axios/axios.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

<section id="system-main-container">

    <nav id="nav" class="system-gird-header">
        <div class="site-top system-site-top">
            <div class="system-site-branding">管理后台</div>
            <div class="lower-cantiner m-mobile-hide">
                <div class="lower">
                    <ul>
                        <li>
                            <a href="blog.html" class="m-margin-left-small">
                                <i class="bi-house-fill"></i><span class="fa">博客管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="type.html" class="m-margin-left-small">
                                <i class="bi-front"></i><span class="fa">分类管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="picture.html" class="m-margin-left-small">
                                <i class="bi-images"></i><span class="fa">照片墙管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <img src="../image/gc.jpg" alt/>
                    <span class="user-info-span">Inori</span>
                    <span class="logout"></span>
                </div>
            </div>
        </div>
    </nav>

    <div class="page-container">
        <div class="search-panel">
            <form class="search-from">
                <div class="search-keyword">
                    <label for="keywords">输入查询:</label>
                    <input id="keywords" class="keywords" v-model="keywords" type="text" placeholder="ID/标题"
                           @click="keywordClose">
                    <i class="el-icon-circle-close" @click="close" v-if="blogFlag"></i>
                </div>
                <div class="search-keyword">
                    <label for="type">分类:</label>
                    <input id="type" v-model="typeName" class="search-keyword-input" placeholder="请选择"
                           readonly="readonly"
                           @click="typeShow" @keyup.tab.native="blogKeypress">
                    <i class="el-icon-arrow-down search-keyword-i" style="right: 52px"></i>
                    <ul class="search-keyword-ul" v-if="typeFlag">
                        <li class="search-keyword-li" v-for="item of types" @click="choice(item)">
                            <span class="search-keyword-span">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="search-button">
                    <button type="button" @click="item" @keyup.tab.native="typeKeypress">
                        <i class="el-icon-search"></i>
                        <span>查询</span>
                    </button>
                    <button type="button" @click="reload">
                        <i class="el-icon-refresh"></i>
                        <span>重置</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="blog-add">
            <button @click="saveBlog"><i class="el-icon-plus" style="margin-right: 3px"></i><span>新增</span></button>
        </div>

        <div class="blog-table-title">
            <table class="pure-table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) of items" :key="item" :class="getClass(index)">
                    <td><span v-if="items[index] != null">{{items[index].id}}</span></td>
                    <td><span v-if="items[index] != null">{{items[index].title}}</span></td>
                    <td><span v-if="items[index] != null">{{items[index].typeName}}</span></td>
                    <td>
                        <input v-if="items[index] != null" type="checkbox" class="switch"
                               :checked="items[index].recommend == 0 ? false : true"
                               @click="recommend(items[index])">
                    </td>
                    <td><span v-if="items[index] != null">{{items[index].status == 1 ? "发布" : "保存"}}</span></td>
                    <td><span v-if="items[index] != null">{{items[index].updateTime}}</span></td>
                    <td>
                        <button v-if="items[index] != null" class="blog-update" @click="updateBlog(items[index].id)">
                            编辑
                        </button>
                        <button v-if="items[index] != null" class="blog-delete" @click="deleteBlog(items[index].id)">
                            删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="blog-table-footer">
            <div class="blog-pagination">
                <span style="margin-right: 10px">共 {{total}} 条</span>
                <button v-if="pageNo != 1" @click="newer">
                    <i class="el-icon-arrow-left"></i>
                </button>
                <a class="page-numbers" v-if="pageNo != 1" @click="current(1)">1</a>
                <span class="page-numbers dots" v-if="(pageNo - 2) > 2">…</span>
                <a class="page-numbers" v-if="(pageNo - 2) > 1" @click="current(pageNo - 2)">{{pageNo - 2}}</a>
                <a class="page-numbers" v-if="(pageNo - 1) > 1" @click="current(pageNo - 1)">{{pageNo - 1}}</a>
                <span class="current">{{pageNo}}</span>
                <a class="page-numbers"
                   v-if="(pageNo + 1) < (total % pageSize == 0 ? total / pageSize : parseInt(total / pageSize) + 1)"
                   @click="current(pageNo + 1)">{{pageNo + 1}}</a>
                <a class="page-numbers"
                   v-if="(pageNo + 2) < (total % pageSize == 0 ? total / pageSize : parseInt(total / pageSize) + 1)"
                   @click="current(pageNo + 2)">{{pageNo + 2}}</a>
                <span class="page-numbers"
                      v-if="(pageNo + 2) < ((total % pageSize == 0 ? total / pageSize : parseInt(total / pageSize) + 1) - 1)">…</span>
                <a class="page-numbers"
                   v-if="(pageNo != (total % pageSize == 0 ? total / pageSize : parseInt(total / pageSize) + 1)) && total != 0"
                   @click="current(parseInt(total / pageSize) + 1)">{{(total % pageSize == 0 ? total / pageSize :
                    parseInt(total / pageSize) +
                    1)}}</a>
                <button v-if="(pageNo != (total % pageSize == 0 ? total / pageSize : parseInt(total / pageSize) + 1)) && total != 0"
                        @click="older">
                    <i class="el-icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="common-delete-div">
        <div class="delete-div">
            <div class="delete-header">
                <span class="delete-title">提示</span>
                <i class="el-dialog__close el-icon el-icon-close" @click="cancel"></i>
            </div>
            <div class="delete-body">
                <div>
                    <i class="el-message-box__status el-icon-warning"></i>
                    <p class="delete-p">是否确认删除该博客？</p>
                </div>
            </div>
            <div class="delete-footer">
                <button class="cancel" @click="cancel"><span>取消</span></button>
                <button class="determine" @click="determine"><span>确定</span></button>
            </div>
        </div>
    </div>

    <div class="tip">
        <p id="blog-common" class="common-success">{{message}}</p>
    </div>

</section>

<script type="text/javascript" src="../js/system.js"></script>
<script type="text/javascript">

    Vue.createApp({
        data() {
            return {
                pageNo: 1,
                pageSize: 10,
                total: 0,
                items: [{id: 1, recommend: 1}],
                types: [],
                keywords: "",
                typeId: null,
                typeName: "",
                typeFlag: false,
                blogFlag: false,
                id: null,
                message: ""
            }
        },
        created: function () {
            let inori_token = inori.cookie.get("INORI_TOKEN");
            if (inori_token === null || inori_token === "" || inori_token === "undefined") {
                window.location.href = "login.html";
            } else {
                this.item();
                this.itemType();
            }
        },
        mounted: function () {
            document.addEventListener('click', (e) => {
                let elem = e.target || e.srcElement;
                if (elem.className !== "search-keyword-ul" && elem.className !== "search-keyword-li" && elem.className !== "search-keyword-span" && elem.className !== "search-keyword-input") {
                    this.typeFlag = false;
                    this.typeClose();
                }
                if (elem.className !== "keywords" && elem.className !== "el-icon-circle-close") {
                    this.blogFlag = false;
                }
                if (elem.className !== "blog-delete" && elem.className !== "delete-div" && elem.className !== "delete-header" && elem.className !== "delete-body" && elem.className !== "delete-footer" && elem.className !== "el-message-box__status el-icon-warning" && elem.className !== "delete-title" && elem.className !== "delete-p") {
                    $('.blog-delete-div').css("display", "none");
                }
            });

            let message = inori.store.get("MESSAGE");
            if (message !== null && message !== '') {
                this.setMessage(message, inori.store.get("MESSAGE_CLASS"));
                inori.store.del("MESSAGE");
                inori.store.del("MESSAGE_CLASS");
            }

        },
        methods: {
            item() {
                inori.http.post("/system/blog/list", {
                    "pageNo": this.pageNo,
                    "pageSize": this.pageSize,
                    "keywords": this.keywords,
                    "typeId": this.typeId
                }).then((resp) => {
                    let result = resp.data;
                    this.total = result.data.total;
                    this.items = result.data.records;
                    if (this.items.length < 10) {
                        let index = 10 - this.items.length;
                        for (let i = 0; i < index; i++) {
                            this.items.push(null);
                        }
                    }
                }).catch(() => {
                    this.setMessage("服务器异常", "common-error");
                });
            },
            itemType() {
                inori.http.post("/system/type/list", {
                    "pageNo": this.pageNo,
                    "pageSize": 99999
                }).then((resp) => {
                    this.types = resp.data.data.records;
                }).catch(() => {
                    this.setMessage("服务器异常", "common-error");
                });
            },
            recommend(item) {
                inori.http.post("/system/blog/recommend", {
                    "id": item.id,
                    "recommend": !item.recommend ? 1 : 0
                }).then((resp) => {
                    let result = resp.data;
                    if (result.code === 200) {
                        this.setMessage("操作成功", "common-success");
                    } else {
                        this.setMessage(result.msg, "common-error");
                    }
                    this.item();
                }).catch(() => {
                    this.setMessage("服务器异常", "common-error");
                    this.item();
                });
            },
            close() {
                this.keywords = "";
                this.blogFlag = false;
            },
            keywordClose() {
                this.blogFlag = true;
            },
            blogKeypress() {
                this.blogFlag = false;
            },
            typeShow() {
                this.typeFlag = !this.typeFlag;
                this.typeClose();
            },
            typeClose() {
                let search = $('.search-keyword-i');
                if (this.typeFlag) {
                    search.removeClass("el-icon-arrow-down");
                    search.addClass("el-icon-arrow-up");
                } else {
                    search.removeClass("el-icon-arrow-up");
                    search.addClass("el-icon-arrow-down");
                }
            },
            typeKeypress() {
                this.typeFlag = false;
            },
            choice(item) {
                this.typeId = item.id;
                this.typeName = item.name;
                this.typeFlag = false;
            },
            reload() {
                this.keywords = "";
                this.typeId = null;
                this.typeName = "";
                this.item();
            },
            saveBlog() {
                window.location.href = 'blog-input.html';
            },
            updateBlog(id) {
                inori.store.set("BLOG_ID", id);
                window.location.href = 'blog-input.html';
            },
            deleteBlog(id) {
                $('.common-delete-div').css("display", "block");
                this.id = id;
            },
            cancel() {
                $('.common-delete-div').css("display", "none");
            },
            determine() {
                $('.common-delete-div').css("display", "none");

                inori.http.post("/system/blog/delete", {
                    "id": this.id
                }).then(() => {
                    this.setMessage("删除成功", "common-success");
                    this.item();
                }).catch(() => {
                    this.setMessage("服务器异常", "common-error");
                });
            },
            setMessage(message, messageClass) {
                this.message = message;
                let blog_common = $("#blog-common");
                blog_common.removeClass();
                blog_common.addClass(messageClass);
                showTips();
            },
            current(pageNo) {
                this.pageNo = pageNo;
                this.item();
            },
            newer() {
                this.pageNo--;
                this.item();
            },
            older() {
                this.pageNo++;
                this.item();
            },
            getClass(index) {
                if (index % 2 !== 0) {
                    return "pure-table-odd";
                }
            }
        }
    }).mount("#system-main-container");

</script>

</body>
</html>